<% include ../partials/header %>

  <div class="row">
    <div class="cold-md-4">
      <h1 style="text-align: center;"><%= user.firstName + " " + user.lastName %></h1>
      <div class="thumbnail" style="height:450px; width: 300px;">
        <img src="<%=user.avatar %>" alt="user profile image" class="avatar">
        <div class="caption" id="caption2">
          <a href="mailto:<%=user.email %>" class="useremail">
            <%= user.email %>
          </a>
        </div>
        <% artists.forEach(function(artist){ %>
          <h3 class="bumblebee"><%= user.username %>&#8217;s Artist </h3>
          <ul class="bumblebee">
            <li>
              <a href="/artists/<%= artist.id %>">
                <%= artist.name %>
              </a>
            </li>
          </ul>
          <% }); %>
      </div>
    </div>
  </div>


  <% include ../partials/footer %>