<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead"></p>
        <div class="footer-social-icons">
          <h4 class="_14" style="font-size: 13px;">Follow Your Favourite Artist</h4>
          <ul class="social-icons">
            <li><a target="_blank" href="<%= artist.youtube %>" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="<%= artist.spotify %>" class="social-icon"> <i class="fa fa-spotify"></i></a></li>
            <li><a target="_blank" href="<%= artist.facebook %>" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="<%= artist.twitter %>" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="<%= artist.instagram %>" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="<%= artist.pinterest %>" class="social-icon"> <i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <div class="list-group">
          <li id="videosid" class="list-group-item active">TOP 10 VIDEOS ON YOUTUBE</li>
          <% videoItems.forEach((videoItem) => { %>
          <li id="titlefont" class="list-group-item active"><a target="_blank" href="<%= videoItem.link %>"><%= videoItem.title %></a></li>
<% }); %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="thumbnail">
          <% if(loggedIn){ %>
            <img class="img-responsive" src="<%= artist.image %>">
            <% } else {%>
              <img class="img-responsive" src="<%= artist.image %>" style="-webkit-filter: grayscale(100%);">
              <% } %>
                <div class="caption-full">
                  <h4 class="pull-right"></h4>
                  <h4><a><span style="color:purple;"><%= artist.name %></span></a></h4>
                  <p>
                    <%= artist.description %>
                  </p>
                  <p><em>Submitted By : <a href="/users/<%= artist.author.id %>"><span class="username-name"><%= artist.author.username %></span></a> ,<span class="moment-1"> <%= moment(artist.createdAt).fromNow()%></span></em></p>
                  <% if(currentUser && artist.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-warning" href="/artists/<%= artist._id %>/edit">Edit Artist</a>
                    <form class="delete-form" action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete Artist</button>
                    </form>
                    <% } %>
                </div>
        </div>
        <hr style="border:none;">
        <div class=" text-right">
          <a class=" btn btn-success " href="/artists/<%=artist._id %>/comments/new" style="height:33px;text-align: center;">Add New Comment</a>
        </div>
        <hr>
        <% artist.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><span class="username-name"><%= comment.author.username %></span></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <%= comment.text %>
                </p>
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <a class="btn btn-xs btn-warning" href="/artists/<%= artist._id %>/comments/<%= comment._id %>/edit"> Edit</a>
                  <form class="delete-form" action="/artists/<%= artist._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    <%} %>
            </div>
          </div>
          <%  }); %>
      </div>
    </div>
  </div>
  </div>

  <% include ../partials/footer %>